<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Starmart API</h1>
        <p>Api Doc of Starmart</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h2>Admin</h2>
            <div class="card">
                <div class="card-header">
                    <h6>Register Admin</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminRegister</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> to register admin for admin panel</span>
                        </p>
                        <p>
                            <span class="left-text"> Parameter: </span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>firstName</td>
                                        <td>String</td>
                                        <td>First name of admin</td>
                                    </tr>
                                    <tr>
                                        <td>lastName</td>
                                        <td>String</td>
                                        <td>Last name of admin</td>
                                    </tr>
                                    <tr>
                                        <td>mobileNumber</td>
                                        <td>String</td>
                                        <td>mobile number of admin</td>
                                    </tr>
                                    <tr>
                                        <td>emailId</td>
                                        <td>String</td>
                                        <td>Email id of admin</td>
                                    </tr>
                                    <tr>
                                        <td>password</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                    <tr>
                                        <td>confirmPassword</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminRegister" method="POST">
                                <label class="pad12">firstName:</label>
                                <input type="text" class="form-control" name="firstName">

                                <label class="pad12">lastName:</label>
                                <input type="text" class="form-control" name="lastName">

                                <label class="pad12">mobileNumber:</label>
                                <input type="number" class="form-control" name="mobileNumber">

                                <label class="pad12" for="email">emailId:</label>
                                <input type="email" class="form-control" name="emailId">

                                <label class="pad12" for="pwd">password:</label>
                                <input type="password" class="form-control" name="password">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card marg-top">
                <div class="card-header">
                    <h6>Admin Login</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminLogin</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> to login admin into admin panel</span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>emailOrMobile</td>
                                        <td>String</td>
                                        <td>Email id or Mobile Number of admin</td>
                                    </tr>
                                    <tr>
                                        <td>password</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminLogin" method="POST">
                                <label class="pad12">emailOrMobile:</label>
                                <input type="text" class="form-control" name="emailOrMobile">
                                <label class="pad12" for="pwd">password:</label>
                                <input type="password" class="form-control" name="password">
                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card marg-top">
                <div class="card-header">
                    <h6>Change Password</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminChangePassword</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> to change password of admin</span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>adminId</td>
                                        <td>int</td>
                                        <td>id of admin</td>
                                    </tr>
                                    <tr>
                                        <td>currentPassword</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                    <tr>
                                        <td>newPassword</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                    <tr>
                                        <td>confirmPassword</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminChangePassword" method="POST">
                                <label class="pad12">adminId:</label>
                                <input type="text" class="form-control" name="adminId">

                                <label class="pad12" for="pwd">currentPassword:</label>
                                <input type="password" class="form-control" name="currentPassword">

                                <label class="pad12" for="pwd">newPassword:</label>
                                <input type="password" class="form-control" name="newPassword">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marg-top">
                <div class="card-header">
                    <h6>Forget Password</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminForgetPassword</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> If admin forgets the password </span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>emailOrMobile</td>
                                        <td>String</td>
                                        <td>Email id or Mobile number of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminForgetPassword" method="POST">
                                <label class="pad12">emailOrMobile:</label>
                                <input type="text" class="form-control" name="emailOrMobile">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marg-top">
                <div class="card-header">
                    <h6>Reset Password</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminResetPassword</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> If admin forgets the password then create new password </span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>emailId</td>
                                        <td>String</td>
                                        <td>Email id of admin</td>
                                    </tr>
                                    <tr>
                                        <td>password</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                    <tr>
                                        <td>confirmPassword</td>
                                        <td>String</td>
                                        <td>Password of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminResetPassword" method="POST">
                                <label class="pad12">emailId:</label>
                                <input type="email" class="form-control" name="emailId">

                                <label class="pad12" for="pwd">password:</label>
                                <input type="password" class="form-control" name="password">

                                <label class="pad12" for="pwd">confirmPassword:</label>
                                <input type="password" class="form-control" name="confirmPassword">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card marg-top">
                <div class="card-header">
                    <h6>Forget Password</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /adminForgetPassword</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> If admin forgets the password </span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>emailOrMobile</td>
                                        <td>String</td>
                                        <td>Email id or Mobile number of admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/adminForgetPassword" method="POST">
                                <label class="pad12">emailOrMobile:</label>
                                <input type="text" class="form-control" name="emailOrMobile">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card marg-top">
                <div class="card-header">
                    <h6>verify otp</h6>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            <span class="left-text"> URL: </span>
                            <span class="right-text"> /verifyOtp</span>
                        </p>
                        <p>
                            <span class="left-text"> Method: </span>
                            <span class="right-text"> POST</span>
                        </p>
                        <p>
                            <span class="left-text"> Description: </span>
                            <span class="right-text"> verify otp </span>
                        </p>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>otp</td>
                                        <td>Int</td>
                                        <td>otp sent to registered email or mobile number</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <span class="left-text"> Test: </span>
                        </p>
                        <div class="form-container">
                            <form class="form-inline" action="/verifyOtp" method="POST">
                                <label class="pad12">otp:</label>
                                <input type="text" class="form-control" name="otp">

                                <button type="submit" class="btn btn-primary left-marg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>